.signup-container {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  background-color: #222c3a;

  .signup-form-container {
    background-color: #f8f9fa;
    padding: 1.5rem;
    border-radius: 5px;
  }
}